#header {
    background-color: rgba(0, 0, 0, 0.6);
    height: 130px;
    width: 100%;
    text-align: center;
    font-family: 'Saira', sans-serif;
    font-size: 40px;
    color: white;
}

#logo {
    float: left;
    padding-top: 20px;
}

body {
    margin: 0;
    background-image: url("background-image2.jpg");
    text-align: center;
}

#date {
    font-family: 'Saira', sans-serif;
    font-size: 20px;
}

.bold { 
    font-weight:bold; 
}

select[name="catch_id"] {
    width: fit-content;
    height: 500px;
    border-style: ridge;
    border-width: 3px;
    font-size: 20px;
    font-family: 'Saira', sans-serif;
}

input[name="edit"] {
    font-size: 20px;
    font-family: 'Saira', sans-serif;
}

input[name="delete"] {
    font-size: 20px;
    font-family: 'Saira', sans-serif;
}

input[name="submit"] {
    font-size: 20px;
    font-family: 'Saira', sans-serif;
}